In [ ]:
import pandas as pd
import numpy as np

In [ ]:
print(pd.__version__)

read csv file with read_csv()

In [ ]:
car_df = pd.read_csv("car_fuel_efficiency.csv")
car_df.head()

How many records are in the dataset?
Can use .count() or .describe()

In [ ]:
car_df.describe()

How many fuel types are presented in the dataset?

Unique() to get the unique values in a list or nunique() to get how many unique values there are

In [ ]:
car_df.fuel_type.nunique()

How many columns in the dataset have missing values?

isnull() to check for missing values and use .sum() to sum the missing values for each column

In [ ]:
car_df.isnull().sum()

What's the maximum fuel efficiency of cars from Asia?

Select only the values that have origin == 'Asia' and the select the max() of column fuel_efficiency_mpg

In [ ]:
car_df[car_df['origin'] == 'Asia'].fuel_efficiency_mpg.max()


1. Find the median value of `horsepower` column in the dataset.
2. Next, calculate the most frequent value of the same `horsepower` column.
3. Use `fillna` method to fill the missing values in `horsepower` column with the most frequent value from the previous step.
4. Now, calculate the median value of `horsepower` once again.

In [ ]:
car_df.horsepower.median()

In [ ]:
most_value = car_df['horsepower'].value_counts().idxmax()

In [ ]:
car_df['horsepower'] = car_df['horsepower'].fillna(most_value)

In [ ]:
car_df.horsepower.median()

1. Select all the cars from Asia
2. Select only columns `vehicle_weight` and `model_year`
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100, 1200]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the sum of all the elements of the result?

In [ ]:
X = car_df[car_df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].iloc[:7].to_numpy()

In [ ]:
XTX = X.T @ X

In [ ]:
inv = np.linalg.inv(XTX)

In [ ]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [ ]:
w = inv @ X.T @ y

In [ ]:
w.sum()